#white {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background: white;
    pointer-events: none;
    z-index: 20;
}
#divBody {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}